* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

body{
    background-color: #fefbe9;
    font-family: sans-serif;
}
.nav-bar{
    color: #183a1d;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
li{
    display: inline;
}
li a {
    text-decoration: none;
    color: wheat;
    text-align: center;
    padding: 14px 16px;
}

nav-bar{
    color: #183a1d;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.form{
    padding: 30px;
}
.form label{
    color: #183a1d;
    text-align: center;
}
.label-form{
    font-weight: bold;
}
.form-control input{
    padding: 1rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    background-color: white;
    margin: 0.5rem 0;
    width: 100%;
}
.form #submit {
    padding: 1rem 0.5rem;
    border: none;
    border-radius: 0.5rem;
    width: 100%;
    background-color: #183a1d;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
  }

  .checkbox label {
    color: #183a1d;
    font-weight: bold;
}
       
  #submit:hover {
    background-color: black;
    color: white;
  }


#search{
    padding: 1rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    background-color: white;
    margin: 0.5rem 0;
    width: 100%;
}
.bookshelf-list{
    padding: 30px;
    border: 2px solid black;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    background-color: white;
    margin: 0.5rem 0;
    width: 100%;
}

.book-list{
    display: flex;
    flex-direction: row;
    
    font-size: 1.25rem;
    background-color: white;
    margin: 0.5rem 0;
    overflow: auto;
}
.book-card{
  flex: 0 0 50%;
  width: 250px;
  height: 300px;
  padding: 1rem;
  margin: 1rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  background-color: #fefbe9;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.green{
    background-color: #183a1d;
    padding: 5px;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    font-weight: bold;
    color: white;
}
.red{
    background-color: #a71d1d;
    padding: 5px;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    font-weight: bold;
    color: white;
}
@media (max-width:800px){
    .nav-bar{
        color: #183a1d;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
    }
    .form{
        padding: 30px;
    }
    .form label{
        color: #183a1d;
        text-align: center;
    }
    .label-form{
        font-weight: bold;
    }
    .form-control input{
        padding: 1rem;
        border: 2px solid black;
        border-radius: 0.5rem;
        font-size: 1.25rem;
        background-color: white;
        margin: 0.5rem 0;
        width: 100%;
    }
    .form #submit {
        padding: 1rem 0.5rem;
        border: none;
        border-radius: 0.5rem;
        width: 100%;
        background-color: #183a1d;
        color: white;
        font-size: 1.25rem;
        cursor: pointer;
      }

      .checkbox label {
        color: #183a1d;
        font-weight: bold;
    }
           
      #submit:hover {
        background-color: black;
        color: white;
      }

    
    #search{
        padding: 1rem;
        border: 2px solid black;
        border-radius: 0.5rem;
        font-size: 1.25rem;
        background-color: white;
        margin: 0.5rem 0;
        width: 100%;
    }
    .bookshelf-list{
        padding: 30px;
        border: 2px solid black;
        border-radius: 0.5rem;
        font-size: 1.25rem;
        background-color: white;
        margin: 0.5rem 0;
        width: 100%;
    }

    .book-list{
        display: flex;
        flex-direction: row;
        
        font-size: 1.25rem;
        background-color: white;
        margin: 0.5rem 0;
        overflow: auto;
    }
    .book-card{
      flex: 0 0 50%;
      width: 250px;
      height: 300px;
      padding: 1rem;
      margin: 1rem;
      border: 2px solid black;
      border-radius: 0.5rem;
      background-color: #fefbe9;
      text-align: center;
      cursor: pointer;
      transition: all 0.3s ease;
    }
    .green{
        background-color: #183a1d;
        padding: 5px;
        font-size: 1.25rem;
        border-radius: 0.5rem;
        font-weight: bold;
        color: white;
    }
    .red{
        background-color: #a71d1d;
        padding: 5px;
        font-size: 1.25rem;
        border-radius: 0.5rem;
        font-weight: bold;
        color: white;
    }
    
}